<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>585079892163-1rm3pl8vqia56jvp741at3b1cakvm14v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.585079892163-1rm3pl8vqia56jvp741at3b1cakvm14v</string>
	<key>API_KEY</key>
	<string>AIzaSyDUkKRsXoL9cS3tYzVQbTAFYBKfSb4MkBA</string>
	<key>GCM_SENDER_ID</key>
	<string>585079892163</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>digital.mxm.Deflection</string>
	<key>PROJECT_ID</key>
	<string>deflection1maus</string>
	<key>STORAGE_BUCKET</key>
	<string>deflection1maus.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:585079892163:ios:6c5ceb165ee7aceb</string>
	<key>DATABASE_URL</key>
	<string>https://deflection1maus.firebaseio.com</string>
</dict>
</plist>